body{
    background-color: aquamarine;
    margin:10%;
}
.dp{
    text-align: center;
    box-shadow: 10px 10px 10px black;
    background-color: white;
}
h1{
    font-family:Segoe Script;
    color:red;
    font-size: 30px;
}
p, ul{
    font-family:Gadugi;
}
.name{
    font-size: 40px;
    color:black;
    text-align: center;
    font-family: Terminal;
    text-shadow: 10px 10px 10px gray;
}